body {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url('img/AboutMe2.jpg') no-repeat 50% 15% fixed;
	background-color: #576066;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
div > h1 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #fff;
	font-size: 72px;
	font-weight: 400;
	margin-bottom: auto;
}
div > p{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #fff;
	font-size: 24px;
	margin-top: 0%;
	margin-bottom: 2%;
}
div.header{
	width: 500px;
	margin-left: 2%;
	margin-right: 2%;
}
div#About-Me{
	width: 500px;
  	margin-left: 2%;
  	margin-bottom: 2%;
}
div.sentence{
	display: inline-block;
	text-align: justify;
	color: #fff;
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 3%;
	padding-bottom: 3%;
}
a{
	text-decoration: none;
	color: #A5CFE2;
	font-size: 22px;
}
a:visited { text-decoration: none;}
a:hover { text-decoration: underline;}
a:focus { text-decoration: none; }
a:active { text-decoration: none; }
a#home {
	padding-bottom: 5%;
	text-align: center;
}