body, html {
	height: 100%;
	margin: 0;
	font: 15px "Lato", sans-serif;
	background-color: transparent;
}

.panel {
	position: relative;
	opacity: 0.9;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#varsity-panel {
	background-image: url("../img/Varsity.jpg");
	min-height: 100%;
}
#john-panel {
	background-image: url("../img/John.jpg");
	min-height: 100%;
}
#twist-panel {
	background-image: url("../img/Twist.jpg");
	min-height: 100%;
}
#jeff-panel {
	background-image: url("../img/Jeff.jpg");
	min-height: 100%;
}
#colin-panel {
	background-image: url("../img/Colin.jpg");
	min-height: 100%;
}
#will-panel {
	background-image: url("../img/Will.jpg");
	min-height: 100%;
}
#jenson-panel {
	background-image: url("../img/Jenson.jpg");
	min-height: 100%;
}
#dave-panel {
	background-image: url("../img/Dave.jpg");
	min-height: 100%;
}
#ben-panel {
	background-image: url("../img/Ben.jpg");
	min-height: 100%;
}
#nich-panel {
	background-image: url("../img/Nich.jpg");
	min-height: 100%;
}
#yj-panel {
	background-image: url("../img/Yih-Jen.jpg");
	min-height: 100%;
}

.title {
	position: absolute;
	text-align: center;
	left: 0;
	top: 8%;
	width: 100%;
	font: 4rem "Oxygen", sans-serif;
	letter-spacing: 2px;
	color: #777;
	font-weight: 200;
	text-shadow: 1px 1px #D0D0D0;
	background-color: transparent;
}
.title span.border {
	background-color: transparent;
	color: #777;
	border-style: solid;
	border-color: #777;
	font-weight: 200;
	text-shadow: 1px 1px #D0D0D0;

	-o-transition: .05s;
	-ms-transition: .05s;
	-moz-transition: .05s;
	-webkit-transition: .05s;
	transition: .05s;
}
.title span.border:hover {
	border-width: 0px; 
}

.scrim {
	background-color: rgba(0, 0, 0, 0.15);
	padding-bottom: 50px;
}
#Intro-Scrim {
	height: 100%;
}
.mobile-title {
	display: none;
	background-color: #FBFBFB
}
h1 {
	text-align: center;
	font: 3rem "Oxygen", sans-serif;
	color: #777;
	font-weight: 200;
	margin: 0px;
	padding-top: 20px;
}
h3 {
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	font: 1.4rem "Lato", sans-serif;
	margin: 0px;
	padding: 50px 80px 0px;
}
h4 {
	text-align: center;
	letter-spacing: 2px;
	font: 1.2rem "Lato", sans-serif;
	margin: 20px 0px 0px;
}

p {
	font-size: 1rem;
	margin: 0px;
	padding: 20px 80px 0px;
	line-height: 2rem;
}

p.signature {
	text-align: right;
	letter-spacing: 1px;
	font-weight: lighter;
}
p#names.signature {
	padding-bottom: 0px;
}
p#date.signature {
	padding-top: 0px;
}

.text {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
	text-align: justify;
	color: white;
}

#Intro {
	background-image: url("../img/Varsity.jpg");
	min-height: 100%;
}

#John {
	background-image: url("../img/John.jpg");
}

#Twist {
	background-image: url("../img/Twist.jpg");
}

#Jeff {
	background-image: url("../img/Jeff.jpg");
}

#Colin {
	background-image: url("../img/Colin.jpg");
}

#Will {
	background-image: url("../img/Will.jpg");
}

#Jenson {
	background-image: url("../img/Jenson.jpg");
}

#Dave {
	background-image: url("../img/Dave.jpg");
}

#Ben {
	background-image: url("../img/Ben.jpg");
}

#Nich {
	background-image: url("../img/Nich.jpg");
}
#YJ {
	background-image: url("../img/Yih-Jen.jpg");
}

img {
	display: none;
	width: 100%;
}

@media (max-width: 2000px) {
	.title span.border {
		padding: 20px 30px;
		border-width: 5px;
	}
}
@media (max-width: 768px) {
	.panel {
		display: none;
	}
	#Intro, #John, #Twist, #Jeff, #Colin, #Will, #Jenson, #Dave, #Ben, #Nich, #YJ {
		background-image: none;
	}
	.mobile-title {
		display: block;
	}
	img {
		display: block;
	}
	.title {
		font-size: 2rem;
	}
	.title span.border {
		padding: 12px 15px;
		border-width: 3px;
	}
	.scrim {
		background-color: rgba(0, 0, 0, 0.25);
	}
	#dave-panel, #colin-panel, #jeff-panel {
		background-position: left;
	}
	#Dave, #Colin, #Jeff {
		background-position: left;
	}
	#jenson-panel {
		background-position: right;
	}
	#Jenson {
		background-position: right;
	}
	p {
		padding: 20px 20px 0px;
	}
	h3 {
		padding: 40px 20px 0px;
	}
}
@media (max-width: 480px) {
	.title {
		font-size: 2rem;
	}
	.title span.border {
		padding: 12px 15px;
		border-width: 3px;
	}
}